@model Lautech_Bank.Models.registeration
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Registeration";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Registration</h2><br />

@using (Html.BeginForm("Create","User", FormMethod.Post ,new { @class = "form-horizontal"}))
{
    @Html.ValidationSummary(true)
    

           <div class="form-group">
            @Html.LabelFor(model => model.fName,"First Name",new {@class="col-md-2 control-label"})
        
            <div class="col-md-10">
            @Html.EditorFor(model => model.fName,"", new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.fName,"", new {@Style="color:red" })
        </div>
               </div>

         <div class="form-group">
            @Html.LabelFor(model => model.lName,new {@class="col-md-2 control-label"})
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.lName, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.lName,"", new {@Style="color:red" })
        </div>
            </div>

         <div class="form-group">
            @Html.LabelFor(model => model.Email, new {@class="col-md-2 control-label"})
      
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.Email,"", new {@Style="color:red" })
        </div>
               </div>

    {
        var listItems = new List<ListItem>
        {
              new ListItem { Text = "Savings", Value = "0" },
              new ListItem { Text = "Current", Value = "1" },
              new ListItem { Text = "Fixed Deposit", Value = "2" }
        };
   
       
         <div class="form-group">             
               @Html.LabelFor(model => model.accountType)
              <div class="col-md-10">
           @Html.DropDownList("accountType", new SelectList(listItems, "Text", "Text"))
            @Html.ValidationMessageFor(model => model.accountType,"", new {@Style="color:red" })
        </div>
             </div>
    }
        <div class="form-group">
            @Html.LabelFor(model => model.password, new {@class="col-md-2 control-label"})
       
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.password,"", new {@Style="color:red" })
            <span style="color:red">@ViewBag.message</span>
        </div>
             </div>

         <div class="form-group">
            @Html.LabelFor(model => model.confirmpassword, new {@class="col-md-2 control-label"})
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.confirmpassword,"", new {@class="form-control"})
            @Html.ValidationMessageFor(model => model.confirmpassword,"", new {@Style="color:red" })
            <span style="color:red">@ViewBag.message</span>
        </div>
             </div>

          <button class="btn btn-lg btn-block btn-primary">Submit</button>
            
    <b>Already have an account.@Html.ActionLink("Sign in","index","User")</b>
    <div class="bottom-tab"></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
