@model IEnumerable<Lautech_Bank.Models.Transaction>

@{
    ViewBag.Title = "TransactionHistory";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>TransactionHistory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trans_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccNo)
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trans_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccNo)
        </td>
       
    </tr>
}

</table>
