<nav class="navbar navbar-expand-lg navbar-light head-color">
      <div class="container">

        <div class="navbar-left mr-4">
          <button class="navbar-toggler" type="button">☰</button>
           <a class="apperance" href="#">
             <h3 style="color:white; font-family:sans-serif">LAUTECH BANK</h3> 
              
            </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>

          <ul class="nav nav-navbar nav-transform-none mr-auto" id="nav-list">

            <li class="nav-item">              
              @Html.ActionLink("Home","Home","User",htmlAttributes: new {@class="nav-link"})
            </li>

            <li class="nav-item">
              @Html.ActionLink("Deposit","Deposit","User",htmlAttributes: new {@class="nav-link"})              
            </li>

            <li class="nav-item">
              @Html.ActionLink("Transactions","Transaction","User",htmlAttributes: new { @class="nav-link"})
            </li>

               <li class="nav-item">
              @Html.ActionLink("Loan","Loan","User",htmlAttributes: new { @class="nav-link"})
            </li>
            
          </ul>

          <div>
              @if (Session["logedUser"] != null)
                    {
                       <p style="float:right"><strong>Account number: @Session["logedUser"].ToString()     </strong> @Html.ActionLink("Logout","Logout","User",routeValues:null,htmlAttributes: new { Class="btn btn-round btn-info"})</p>
                    } 
          </div>
        </section>

      </div>
    </nav>

